In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data\hanoi_air_weather_final.csv')
df

,time,temperature_2m,relative_humidity_2m,rain,wind_direction_10m,wind_speed_10m,pm25,pm10,co,no2,...,hour,month,day_of_week,is_weekend,is_raining,temperature_2m_lag1,relative_humidity_2m_lag1,rain_lag1,wind_speed_10m_lag1,is_raining_lag1
0,2022-08-04 00:00:00,28.6,86,0.0,162,10.2,NaN,NaN,NaN,NaN,...,0,August,Thursday,False,False,NaN,NaN,NaN,NaN,NaN
1,2022-08-04 01:00:00,28.3,86,0.0,160,9.6,NaN,NaN,NaN,NaN,...,1,August,Thursday,False,False,28.6,86.0,0.0,10.2,False
2,2022-08-04 02:00:00,28.1,87,0.0,158,8.6,NaN,NaN,NaN,NaN,...,2,August,Thursday,False,False,28.3,86.0,0.0,9.6,False
3,2022-08-04 03:00:00,27.9,88,0.0,152,6.9,NaN,NaN,NaN,NaN,...,3,August,Thursday,False,False,28.1,87.0,0.0,8.6,False
4,2022-08-04 04:00:00,27.6,91,0.0,130,6.1,NaN,NaN,NaN,NaN,...,4,August,Thursday,False,False,27.9,88.0,0.0,6.9,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28891,2025-11-19 19:00:00,15.8,80,0.0,44,5.7,29.6,29.8,1993.0,34.7,...,19,November,Wednesday,False,False,14.8,81.0,0.0,2.2,False
28892,2025-11-19 20:00:00,15.7,79,0.0,9,4.6,33.8,34.1,2309.0,37.4,...,20,November,Wednesday,False,False,15.8,80.0,0.0,5.7,False
28893,2025-11-19 21:00:00,15.5,80,0.0,12,4.4,37.7,38.0,2525.0,41.1,...,21,November,Wednesday,False,False,15.7,79.0,0.0,4.6,False
28894,2025-11-19 22:00:00,15.3,82,0.0,51,4.0,46.3,46.6,2511.0,44.0,...,22,November,Wednesday,False,False,15.5,80.0,0.0,4.4,False
28895,2025-11-19 23:00:00,14.6,83,0.0,37,3.9,56.0,56.5,2091.0,45.8,...,23,November,Wednesday,False,False,15.3,82.0,0.0,4.0,False

In [3]:
df.columns

Index(['time', 'temperature_2m', 'relative_humidity_2m', 'rain',
       'wind_direction_10m', 'wind_speed_10m', 'pm25', 'pm10', 'co', 'no2',
       'so2', 'o3', 'aqi', 'aqi_pm25', 'aqi_category', 'calc_aqi', 'calc_diff',
       'hour', 'month', 'day_of_week', 'is_weekend', 'is_raining',
       'temperature_2m_lag1', 'relative_humidity_2m_lag1', 'rain_lag1',
       'wind_speed_10m_lag1', 'is_raining_lag1'],
      dtype='object')

In [4]:
df[['aqi_pm25', 'pm25']]

       aqi_pm25  pm25
0           NaN   NaN
1           NaN   NaN
2           NaN   NaN
3           NaN   NaN
4           NaN   NaN
...         ...   ...
28891      40.0  29.6
28892      44.0  33.8
28893      49.0  37.7
28894      52.0  46.3
28895      56.0  56.0

[28896 rows x 2 columns]

In [5]:
df = df.drop(columns = ['temperature_2m_lag1', 'relative_humidity_2m_lag1', 'rain_lag1', 'wind_speed_10m_lag1', 'is_raining_lag1', 'calc_aqi', 'calc_diff', 'pm25', 'pm10', 'co', 'no2',
       'so2', 'o3', 'aqi', 'aqi_category'])

In [6]:
df.dropna(inplace=True)
df

,time,temperature_2m,relative_humidity_2m,rain,wind_direction_10m,wind_speed_10m,aqi_pm25,hour,month,day_of_week,is_weekend,is_raining
31,2022-08-05 07:00:00,26.6,90,0.0,21,6.2,113.0,7,August,Friday,False,False
32,2022-08-05 08:00:00,27.3,87,0.1,9,6.6,111.0,8,August,Friday,False,True
33,2022-08-05 09:00:00,27.9,83,0.0,8,5.1,109.0,9,August,Friday,False,False
34,2022-08-05 10:00:00,28.7,80,0.1,28,5.3,108.0,10,August,Friday,False,True
35,2022-08-05 11:00:00,28.9,79,0.2,13,4.8,106.0,11,August,Friday,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
28891,2025-11-19 19:00:00,15.8,80,0.0,44,5.7,40.0,19,November,Wednesday,False,False
28892,2025-11-19 20:00:00,15.7,79,0.0,9,4.6,44.0,20,November,Wednesday,False,False
28893,2025-11-19 21:00:00,15.5,80,0.0,12,4.4,49.0,21,November,Wednesday,False,False
28894,2025-11-19 22:00:00,15.3,82,0.0,51,4.0,52.0,22,November,Wednesday,False,False
28895,2025-11-19 23:00:00,14.6,83,0.0,37,3.9,56.0,23,November,Wednesday,False,False

In [ ]:
df.columns

Index(['time', 'temperature_2m', 'relative_humidity_2m', 'rain',
       'wind_direction_10m', 'wind_speed_10m', 'aqi_pm25', 'hour', 'month',
       'day_of_week', 'is_weekend', 'is_raining'],
      dtype='object')

In [9]:
df['time'] = pd.to_datetime(df['time'])
df.set_index('time', inplace=True)
df.sort_index(inplace=True)
df.to_csv("data/clean_data.csv")