In [28]:
import pandas as pd

In [ ]:
df = pd.read_csv('data\weatherbit_final.csv')
df

,time,temperature_2m,relative_humidity_2m,rain,wind_direction_10m,wind_speed_10m,pm25,pm10,co,no2,...,hour,month,day_of_week,is_weekend,is_raining,temperature_2m_lag1,relative_humidity_2m_lag1,rain_lag1,wind_speed_10m_lag1,is_raining_lag1
0,2022-08-04 00:00:00,28.6,86,0.0,162,10.2,NaN,NaN,NaN,NaN,...,0,August,Thursday,False,False,NaN,NaN,NaN,NaN,NaN
1,2022-08-04 01:00:00,28.3,86,0.0,160,9.6,NaN,NaN,NaN,NaN,...,1,August,Thursday,False,False,28.6,86.0,0.0,10.2,False
2,2022-08-04 02:00:00,28.1,87,0.0,158,8.6,NaN,NaN,NaN,NaN,...,2,August,Thursday,False,False,28.3,86.0,0.0,9.6,False
3,2022-08-04 03:00:00,27.9,88,0.0,152,6.9,NaN,NaN,NaN,NaN,...,3,August,Thursday,False,False,28.1,87.0,0.0,8.6,False
4,2022-08-04 04:00:00,27.6,91,0.0,130,6.1,NaN,NaN,NaN,NaN,...,4,August,Thursday,False,False,27.9,88.0,0.0,6.9,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28891,2025-11-19 19:00:00,15.8,80,0.0,44,5.7,29.6,29.8,1993.0,34.7,...,19,November,Wednesday,False,False,14.8,81.0,0.0,2.2,False
28892,2025-11-19 20:00:00,15.7,79,0.0,9,4.6,33.8,34.1,2309.0,37.4,...,20,November,Wednesday,False,False,15.8,80.0,0.0,5.7,False
28893,2025-11-19 21:00:00,15.5,80,0.0,12,4.4,37.7,38.0,2525.0,41.1,...,21,November,Wednesday,False,False,15.7,79.0,0.0,4.6,False
28894,2025-11-19 22:00:00,15.3,82,0.0,51,4.0,46.3,46.6,2511.0,44.0,...,22,November,Wednesday,False,False,15.5,80.0,0.0,4.4,False
28895,2025-11-19 23:00:00,14.6,83,0.0,37,3.9,56.0,56.5,2091.0,45.8,...,23,November,Wednesday,False,False,15.3,82.0,0.0,4.0,False

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28896 entries, 0 to 28895
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       28896 non-null  object
 1   temperature_2m             28896 non-null  float64
 2   relative_humidity_2m       28896 non-null  int64
 3   rain                       28896 non-null  float64
 4   wind_direction_10m         28896 non-null  int64
 5   wind_speed_10m             28896 non-null  float64
 6   pm25                       28889 non-null  float64
 7   pm10                       28889 non-null  float64
 8   co                         28889 non-null  float64
 9   no2                        28889 non-null  float64
 10  so2                        28889 non-null  float64
 11  o3                         28889 non-null  float64
 12  aqi                        28865 non-null  float64
 13  aqi_pm25                   28865 non-null  float64
 14  aqi_category               28865 non-null  object
 15  calc_aqi                   28889 non-null  float64
 16  calc_diff                  28865 non-null  float64
 17  hour                       28896 non-null  int64
 18  month                      28896 non-null  object
 19  day_of_week                28896 non-null  object
 20  is_weekend                 28896 non-null  bool
 21  is_raining                 28896 non-null  bool
 22  temperature_2m_lag1        28895 non-null  float64
 23  relative_humidity_2m_lag1  28895 non-null  float64
 24  rain_lag1                  28895 non-null  float64
 25  wind_speed_10m_lag1        28895 non-null  float64
 26  is_raining_lag1            28895 non-null  object
dtypes: bool(2), float64(17), int64(3), object(5)
memory usage: 5.6+ MB

In [31]:
df.drop(columns=['pm10', 'o3', 'so2', 'no2', 'co'], inplace=True)
df.dropna(inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28865 entries, 31 to 28895
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       28865 non-null  object
 1   temperature_2m             28865 non-null  float64
 2   relative_humidity_2m       28865 non-null  int64
 3   rain                       28865 non-null  float64
 4   wind_direction_10m         28865 non-null  int64
 5   wind_speed_10m             28865 non-null  float64
 6   pm25                       28865 non-null  float64
 7   aqi                        28865 non-null  float64
 8   aqi_pm25                   28865 non-null  float64
 9   aqi_category               28865 non-null  object
 10  calc_aqi                   28865 non-null  float64
 11  calc_diff                  28865 non-null  float64
 12  hour                       28865 non-null  int64
 13  month                      28865 non-null  object
 14  day_of_week                28865 non-null  object
 15  is_weekend                 28865 non-null  bool
 16  is_raining                 28865 non-null  bool
 17  temperature_2m_lag1        28865 non-null  float64
 18  relative_humidity_2m_lag1  28865 non-null  float64
 19  rain_lag1                  28865 non-null  float64
 20  wind_speed_10m_lag1        28865 non-null  float64
 21  is_raining_lag1            28865 non-null  object
dtypes: bool(2), float64(12), int64(3), object(5)
memory usage: 4.7+ MB

In [33]:
df['lon'].unique()

KeyError: 'lon'

In [ ]:
# check for duplicate timestamps
dupe_mask = df['timestamp'].duplicated(keep=False)
has_dupes = dupe_mask.any()

print("Any duplicate timestamps:", has_dupes)

if has_dupes:
    # show counts for timestamps that appear more than once
    dup_counts = df['timestamp'].value_counts()
    dup_timestamps = dup_counts[dup_counts > 1]
    print("\nTimestamps with more than one row (timestamp: count):")
    print(dup_timestamps)
    # display all rows that have duplicated timestamps
    duplicated_rows = df[dupe_mask].sort_values('timestamp')
    print("\nExample duplicated rows:")
    print(duplicated_rows.head(20))

Any duplicate timestamps: True

Timestamps with more than one row (timestamp: count):
timestamp
2022-03-15 00:00:00    10
2022-10-11 00:00:00    10
2023-10-06 00:00:00    10
2022-09-11 00:00:00    10
2023-02-08 00:00:00    10
                       ..
2023-04-21 12:00:00     5
2023-04-21 11:00:00     5
2023-04-21 10:00:00     5
2023-04-21 09:00:00     5
2025-10-31 23:00:00     5
Name: count, Length: 33286, dtype: int64

Example duplicated rows:
             lat         lon            timestamp  hour    month day_of_week  \
17856   20.96700  105.767000  2022-01-14 00:00:00     0  January      Friday
171438  21.03300  105.850000  2022-01-14 00:00:00     0  January      Friday
120244  21.03300  105.833000  2022-01-14 00:00:00     0  January      Friday
69050   21.00513  105.841531  2022-01-14 00:00:00     0  January      Friday
222632  21.22100  105.807000  2022-01-14 00:00:00     0  January      Friday
171439  21.03300  105.850000  2022-01-14 01:00:00     1  January      Friday
69051   21.00513  105.841531  2022-01-14 01:00:00     1  January      Friday
17857   20.96700  105.767000  2022-01-14 01:00:00     1  January      Friday
222633  21.22100  105.807000  2022-01-14 01:00:00     1  January      Friday
120245  21.03300  105.833000  2022-01-14 01:00:00     1  January      Friday
222634  21.22100  105.807000  2022-01-14 02:00:00     2  January      Friday
69052   21.00513  105.841531  2022-01-14 02:00:00     2  January      Friday
120246  21.03300  105.833000  2022-01-14 02:00:00     2  January      Friday
171440  21.03300  105.850000  2022-01-14 02:00:00     2  January      Friday
17858   20.96700  105.767000  2022-01-14 02:00:00     2  January      Friday
222635  21.22100  105.807000  2022-01-14 03:00:00     3  January      Friday
69053   21.00513  105.841531  2022-01-14 03:00:00     3  January      Friday
120247  21.03300  105.833000  2022-01-14 03:00:00     3  January      Friday
17859   20.96700  105.767000  2022-01-14 03:00:00     3  January      Friday
171441  21.03300  105.850000  2022-01-14 03:00:00     3  January      Friday

          aqi    pm25    aqi_category  temp  ...  clouds  wind_spd  wind_dir  \
17856   237.0  121.00  Very Unhealthy  16.0  ...   100.0       0.8     338.0
171438  237.0  121.00  Very Unhealthy  16.0  ...   100.0       0.8     338.0
120244  237.0  121.00  Very Unhealthy  16.0  ...   100.0       0.8     338.0
69050   237.0  121.00  Very Unhealthy  16.0  ...   100.0       0.8     338.0
222632  237.0  121.00  Very Unhealthy  15.0  ...    87.0       1.5      50.0
171439  249.0  130.00  Very Unhealthy  15.9  ...   100.0       0.8     350.0
69051   249.0  130.00  Very Unhealthy  15.9  ...   100.0       0.8     350.0
17857   249.0  130.00  Very Unhealthy  15.9  ...   100.0       0.8     350.0
222633  249.0  130.00  Very Unhealthy  15.0  ...   100.0       1.5      50.0
120245  249.0  130.00  Very Unhealthy  15.9  ...   100.0       0.8     350.0
222634  250.0  130.33  Very Unhealthy  15.0  ...   100.0       1.0      20.0
69052   250.0  130.33  Very Unhealthy  15.7  ...   100.0       0.4     356.0
120246  250.0  130.33  Very Unhealthy  15.7  ...   100.0       0.4     356.0
171440  250.0  130.33  Very Unhealthy  15.7  ...   100.0       0.4     356.0
17858   250.0  130.33  Very Unhealthy  15.7  ...   100.0       0.4     356.0
222635  250.0  130.67  Very Unhealthy  15.0  ...   100.0       1.5      50.0
69053   250.0  130.67  Very Unhealthy  15.5  ...   100.0       0.8      56.0
120247  250.0  130.67  Very Unhealthy  15.5  ...   100.0       0.8      56.0
17859   250.0  130.67  Very Unhealthy  15.5  ...   100.0       0.8      56.0
171441  250.0  130.67  Very Unhealthy  15.5  ...   100.0       0.8      56.0

        wind_sector  wind_sin  wind_cos  wind_gust_spd   uv  precip  dewpt
17856             N -0.961389  0.275192            1.6  0.0     0.0   12.0
171438            N -0.961389  0.275192            1.6  0.0     0.0   12.0
120244            N -0.961389  0.275192            1.6  0.0     0.0   12.0
69050             N -0.961389  0.275192            1.6  0.0     0.0   12.0
222632           NE -0.262375  0.964966            1.5  0.0     0.0   10.8
171439            N -0.958933 -0.283633            1.6  0.0     0.0   12.1
69051             N -0.958933 -0.283633            1.6  0.0     0.0   12.1
17857             N -0.958933 -0.283633            1.6  0.0     0.0   12.1
222633           NE -0.262375  0.964966            1.5  0.0     0.0   10.8
120245            N -0.958933 -0.283633            1.6  0.0     0.0   12.1
222634            N  0.912945  0.408082            1.2  0.0     0.0   10.8
69052             N -0.841487 -0.540277            1.2  0.0     0.0   12.1
120246            N -0.841487 -0.540277            1.2  0.0     0.0   12.1
171440            N -0.841487 -0.540277            1.2  0.0     0.0   12.1
17858             N -0.841487 -0.540277            1.2  0.0     0.0   12.1
222635           NE -0.262375  0.964966            1.5  0.0     0.0   10.8
69053            NE -0.521551  0.853220            1.2  0.0     0.0   12.1
120247           NE -0.521551  0.853220            1.2  0.0     0.0   12.1
17859            NE -0.521551  0.853220            1.2  0.0     0.0   12.1
171441           NE -0.521551  0.853220            1.2  0.0     0.0   12.1

[20 rows x 22 columns]

In [ ]:
# find counts per (lat, lon)
counts = df.groupby(['lat', 'lon']).size().rename('count').sort_values(ascending=False)

# most frequent pair(s)
max_count = counts.max()
most_frequent = counts[counts == max_count]

print("Most frequent (lat, lon) pair(s) and count:")
print(most_frequent)

print("\nTop 5 (lat, lon) pairs by count:")
print(counts.head(5))

Most frequent (lat, lon) pair(s) and count:
lat       lon
20.96700  105.767000    33335
21.00513  105.841531    33335
21.03300  105.833000    33335
          105.850000    33335
21.22100  105.807000    33335
Name: count, dtype: int64

Top 5 (lat, lon) pairs by count:
lat       lon
20.96700  105.767000    33335
21.00513  105.841531    33335
21.03300  105.833000    33335
          105.850000    33335
21.22100  105.807000    33335
Name: count, dtype: int64