In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv('data/hanoi-air-quality.csv')
df['date'] = pd.to_datetime(df['date'], errors='coerce', format='%Y/%m/%d')
df.set_index('date', inplace=True)
df.sort_index(inplace=True)
df

            pm25  pm10   o3  no2  so2   co
date
2014-01-01         124   22   40    6   28
2014-01-02   186   144   69   39    8   43
2014-01-03   227   151   24   25   12   28
2014-01-04   253
2014-01-05         115   65   35    5   33
...          ...   ...  ...  ...  ...  ...
2025-11-07    93    42        15   12    6
2025-11-08    62    46        13   11    9
2025-11-09    70    36        11   11    7
2025-11-10    47    32         8   11    3
2025-11-11    35

[3357 rows x 6 columns]

In [19]:
# strip whitespace from column names (if any)
df.columns = df.columns.str.strip()

# treat empty/whitespace strings as missing, then keep only rows without any missing values
df_clean = df.replace(r'^\s*$', pd.NA, regex=True)
df_no_null = df_clean.dropna(how='any').reset_index(drop=False)

df_no_null

           date  pm25  pm10   o3  no2  so2   co
0    2014-01-02   186   144   69   39    8   43
1    2014-01-03   227   151   24   25   12   28
2    2014-01-06   188    85   46   30    3   27
3    2014-01-07   167    80   20   28   10   27
4    2014-01-08   163    75   29   23    7   22
...         ...   ...   ...  ...  ...  ...  ...
2187 2025-10-19   108    50   19   16   11    4
2188 2025-10-20    71    41   18   13   10    3
2189 2025-10-21    51    24   24   13   11    3
2190 2025-10-22    33    16   25   13   10    3
2191 2025-10-23    25    17   18   13   11    4

[2192 rows x 7 columns]